.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: flex;

}

._body {
  background-color: black;
}

h1 {
  color: white;
}

.token {
  font-size: small;
}

.nowrap  { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  


.flex-item {
  background: rgb(86, 77, 211);
  padding: auto;
  width: auto;
  height: auto;
  margin: 1px;
  display: flex;
  color: white;
  font-weight: normal;
  font-size: .5em;
  text-align: center;
  align-items: center;
}

.dashed {
  border: 2px dashed yellowgreen
}



.select-words {
  display: flex;
  align-items: center;
  width: auto;
  margin: auto;

}


.flex-item-blank {
  background: rgba(97, 225, 161, 0.788);
  padding: 3px;
  width: auto;
  height: auto;
  margin: 5px;
  
  color: white;
  font-weight: normal;
  font-size: 2em;
  text-align: center;
}

.flex-item-dragtotop {
  background: rgb(112, 174, 139);
  padding: 3px;
  width: auto;
  height: auto;
  margin: 5px;
  
  
  color: white;
  font-weight: normal;
  font-size: 2em;
  text-align: center;
}

.App {
  padding: 10px;

}

.points {
  float: right;
  color: white;
}