.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: flex;

}

._body {
  background-color: black;
  border-radius: 20px;
}

h1 {
  color: white;
  font-size: .25em;
}

.token {
  font-size: small;
}

.nowrap  { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  


.flex-item {
  /* background: rgb(86, 77, 211); */
  background: black;
  padding: auto;
  width: auto;
  height: auto;
  margin: 1px;
  display: flex;
  color: white;
  font-weight: normal;
  font-size: .5em;
  text-align: center;
  align-items: center;
  border-radius: 3px;
}

.dashed {
  border: 2px dashed #90DBDC
}



.select-words {
  display: flex;
  align-items: center;
  width: auto;
  margin: auto;

}


.flex-item-blank {
  background: rgba(97, 225, 161, 0.788);
  padding: 3px;
  width: auto;
  height: auto;
  margin: 5px;

  
  color: white;
  font-weight: normal;
  font-size: 2em;
  text-align: center;
}

.concept {
  color: #90DBDC;
  font-size: .5em;
}

.flex-item-dragtotop {
  background: #90DBDC;
  padding: 3px;
  width: auto;
  border-radius: 10px;
  height: auto;
  margin: 5px;
  
  
  color: black;
  font-weight: normal;
  font-size: 2em;
  text-align: center;
}

.App {
  padding: 10px;
}

.points {
  float: right;
  color: white;
}


/* https://www.florin-pop.com/blog/2019/03/css-pulse-effect/ */
.pulser {
  animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}