.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.token {
  font-size: small;
}

.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  
.wrap li {
  background: gold;
}



.flex-item {
  background: tomato;
  padding: auto;
  width: auto;
  height: auto;
  margin: 5px;
  
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.flex-item-blank {
  background: lightgreen;
  padding: 3px;
  width: auto;
  height: auto;
  margin: 5px;
  
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.flex-item-dragtotop {
  background: seagreen;
  padding: 3px;
  width: auto;
  height: auto;
  margin: 5px;
  
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.App {
  margin: 0 auto;
}